.incident-container {
	width: 100%;
	padding: 20px;
}

@media(min-width: 760px) {
	.incident-container {
		width: 100%;
		max-width: 1120px;
		height: 100vh;
		margin: 0 auto;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.incident-container .content{
		width: 100%;
		padding: 96px;
		background: #f0f0f5;
		box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
		border-radius: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}


@media(max-width: 760px) {
	.incident-container img {
		height: 50px;
	}
}

@media(max-width: 760px) {
	.incident-container form {
		margin: 20px 0;
	}
}

.incident-container p {
	font-size: 20px;
	color: #737380;
	line-height: 25px;
	margin-bottom: 20px;
}

.incident-container a {
	margin-top: 20px;
	color: #41414d;
	font-size: 18px;
	text-decoration: none;
	font-weight: 500;
	transition: opacity 0.2s;
}

.incident-container  a svg {
	margin-right: 8px;
}

.incident-container a svg {
	opacity: 0.8;
}

.input-group {
	display: flex;
}

.input-group input + input{
	margin-left: 8px;
}
