.incidents-container {
	width: 100%;
	max-width: 1120px;
	height: 100vh;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.incidents-container .content {
	width: 100%;
	padding: 96px;
	background: #f0f0f5;
	box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
	border-radius: 8px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.incidents-container .content section {
	width: 100%;
}

.incidents-container .content section h1{
	margin: 60px 0 32px;
	font-size: 32px;
}

.incidents-container .content section p {
	font-size: 20px;
	color: #737380;
	line-height: 32px;
}

.incidents-container .content form {
	width: 100%;
	max-width: 450px;
}

.incidents-container .content form .input-group {
	display: flex;
}

.register-container .content form .button-group {
	display: flex;
	justify-content: space-between;
}

